﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - XSIS 2.0</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")
    @*@Styles.Render("~/AdminLTE/plugins/datepicker/css")*@
</head>

<style>
    .nav-item {
        border: 2px solid #337ab7;
        border-bottom: none;
    }

    .nav-item-end {
        border: 2px solid #337ab7;
        border-bottom: 2px solid #337ab7;
    }

    .modal {
        overflow-y: auto;
        overflow-x: auto;
    }


    .holder {
        border: 1px #337ab7 solid;
        margin-top: 0;
        border-radius: 0;
        background-color: white
    }

    .navbarlist {
        background-color: white;
        color: white
    }

    ul a:hover:not(.dropdown-toggle) {
        background-color: #337ab7;
    }

    li a:hover:not(.dropdown) {
        background-color: #337ab7;
        color: white;
    }
</style>


<body>
    
        <div class="container-fluid bg">
            <div class="row">
                <div class="col-lg-4 col-lg-12"></div>
                <div class="col-sm-6 col-sm-9" style="margin-left:330px">
                    <form class="container-form" style="background-color:aliceblue;justify-content:center; font:xx-large" runat="server">
                        @*<h2 style="justify-content:center;text-align:center; font-size:xx-large">XSIS</h2>*@
                        <h2 style="justify-items:center;text-align:center; font-size:25px ;font-family:cursive;color:darkblue"> <strong>Welcome to</strong></h2>
                        <h2 style="justify-items:center;text-align:center; font-size:40px ; color:darkblue"> <strong>PT. XSIS MITRA UTAMA</strong></h2>
                        <h2 style="justify-items:center;text-align:center; font-size:large">We offers you the chance to join with us and expand your talent, skill and experience in IT industry. </h2>
                        <a href="#" class="list-group-item list-group-item-action bg-light"><strong></strong></a>

                        <div class="form-group"></div>

                    </form>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12"></div>
                    <div class="col-md-4 col-sm-12" style="justify-content:center">
                        <form class="container-form" style="background-color:cadetblue;justify-content:center; font:xx-large" runat="server">
                            <h3 style="font-size:16px; line-height:1,2;justify-content:center;text-align:center;color:white"></h3>
                            <p style="justify-content:center;color:white;text-align:center">
                                To apply, please fill out all the required personal information
                                (information with red stars must strictly be filled) and then submit your form.
                                For the next process , we will inform you by phone, sms or
                                email (from recruitment@xsis.co.id).
                            </p>

                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-12"></div>
                <div class="col-sm-6 col-sm-9" style="margin-left:330px">
                    <a href="#" class="list-group-item list-group-item-action bg-light" style="font:30px;text-align:center"><strong></strong></a>
                </div>


            </div>
            <div class="col-md-9" id="list-keahlian">

            </div>
        </div>
   
</body>
<div class="content-wrapper">
    @*<section class="content-header">
            <h1 class="text-primary">
                    <strong>@ViewBag.Title</strong>
                </h1>
        </section>*@
    <section class="content">
        @RenderBody()
    </section>
</div>
@*<footer class="main-footer">
    <strong>Copyrights | Batch 233 | &copy; 2020-2021 <a href="#"></a>.</strong> All rights
    reserved.*@
@*</footer>*@
    </div>

@*@Html.Partial("ModalPopup")*@

@Scripts.Render("~/AdminLTE/plugins/jquery/js")
@RenderSection("menu", required: false)
@Scripts.Render("~/AdminLTE/bootstrap/js")
@Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
@Scripts.Render("~/AdminLTE/plugins/fastclick/js")
@Scripts.Render("~/Scripts/Shared/_Layout")
@Scripts.Render("~/AdminLTE/dist/js")
@Scripts.Render("~/AdminLTE/plugins/datepicker/js")
@Scripts.Render("~/bundles/commonfunction")
@RenderSection("scripts", required: false)
</body>
</html>
