﻿@model CRUDNEW.Models.x_pelamar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <div class="col-lg-6" style="margin-left:330px">
        <a href="#" class="list-group-item list-group-item-action bg-light" style="font-size:x-large;text-align:center; color:darkblue"><strong> Details Applicant</strong></a>
        <div class="col-lg-12" style="border-left:groove;margin-left:0px;border-right:groove">
            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Name</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.Name, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Mobile Phone Number</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.MobilePhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Alternative Phone Number</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.AlternativePhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Email</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.Email, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Place Of Birth</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.PlaceOfBirth, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Date Of Birth</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.DateOfBirth, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Last Education</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.LastEducation, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">College/University</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.University, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Major</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.Major, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Position Apply</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.PositionApply, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left:100px">
                <div class="col-sm-10">
                    <label style="color:darkblue">Source</label><br />
                    <div style="border-radius:initial" class="form-control">
                        @Html.DisplayFor(model => model.Source, new { @class = "form-control" })
                    </div>
                </div>
            </div>


            <div class="form-group row col-lg-pull-12">
                <div class=" col-lg-12" style="margin-left:117px">
                    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
                    @Html.ActionLink("Back", "Index")
                </div>
            </div>
        </div>
    </div>
</body>
</html>
