﻿@model CRUDNEW.Models.x_pelamar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="col-sm-6 col-sm-9" style="margin-left:330px">
        <a href="#" class="list-group-item list-group-item-action bg-light" style="font-size:x-large;text-align:center; color:darkblue"><strong>Application Form</strong></a>
        <div class="col-lg-12" style="border-left:groove;margin-left:0px;border-right:groove">
            @*<div class="form-horizontal">*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-lg-12" style="margin-left:330">
                    <label style="color:darkblue">Name *</label><br />
                    <span class="text-danger" id="name_error"></span>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "Enter Name", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-lg-12" style="margin-left:330">
                    <label style="color:darkblue">Mobile Phone Number *</label><br />
                    @Html.EditorFor(model => model.MobilePhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MobilePhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row  col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12" style="margin-left:330">
                    <label style="color:darkblue">Alternative Phone Number</label><br />
                    @Html.EditorFor(model => model.AlternativePhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AlternativePhoneNumber, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12" style="margin-left:330">
                    <label style="color:darkblue">Email *</label><br />
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12" style="margin-left:330">
                    <label style="color:darkblue">Place Of Birth  *</label><br />
                    @Html.EditorFor(model => model.PlaceOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12">
                    <label style="color:darkblue">Date Of Birth  *</label><br />
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12">
                    <label style="color:darkblue">Last Education  *</label><br />
                    @Html.EditorFor(model => model.LastEducation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastEducation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12">
                    <label style="color:darkblue">College/University  *</label><br />
                    @Html.EditorFor(model => model.University, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.University, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12">
                    <label style="color:darkblue">Major  *</label><br />
                    @Html.EditorFor(model => model.Major, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Major, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12">
                    <label style="color:darkblue">Position Apply  *</label><br />
                    @Html.EditorFor(model => model.PositionApply, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PositionApply, "", new { @class = "text-danger" })
                </div>
            </div>

            @using CRUDNEW.Models
            <div class="form-group row col-lg-pull-12" style="margin-left:175px">
                <div class="col-sm-12">

                    <label style="color:darkblue ; font-style:italic">How did you come to know this vacancy ? </label><br />
                    <label style="color:darkblue">Source *</label><br />


                    @Html.DropDownList("Source", new SelectList(Enum.GetValues(typeof(sel))), "Select Source", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="form-group col-lg-pull-12 " style="margin-left:170px">
                <div class="col-lg-push-3 col-lg-10">
                    <input type="submit" value="Save" class="btn btn-default" />

                    @Html.ActionLink("Back", "Index")
                </div>
            </div>
        </div>
        </div>



        }




</body>
</html>
