﻿@model IEnumerable<CRUDNEW.Models.x_pelamar>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Pelamar", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>


    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <style>
        .nav-item {
            border: 2px solid #337ab7;
            border-bottom: none;
        }

        .nav-item-end {
            border: 2px solid #337ab7;
            border-bottom: 2px solid #337ab7;
        }

        .modal {
            overflow-y: auto;
            overflow-x: auto;
        }


        .holder {
            border: 1px #337ab7 solid;
            margin-top: 0;
            border-radius: 0;
            background-color: white
        }

        .navbarlist {
            background-color: white;
            color: white
        }

        ul a:hover:not(.dropdown-toggle) {
            background-color: #337ab7;
        }

        li a:hover:not(.dropdown) {
            background-color: #337ab7;
            color: white;
        }
    </style>
    <div class="col-md-6 col-sm-12" style="justify-content:center; margin-left:330px">
        <div class="panel-heading col-sm-6" style="justify-content:center; position:center">
            <h1 style="font-size:x-large; color:darkblue" class="glyphicon glyphicon-plus-sign" aria-hidden="true">
                @Html.ActionLink("Apply", "Create")
            </h1>
        </div>

        <table class="table table-striped col-sm-6" style="justify-content:center; position:center">
            <tr class="garis" style="color:darkblue">
                <th>
                    Name
                </th>
                <th>
                    Mobile Phone Number
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th>#</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobilePhoneNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }


        </table>

    </div>
  
}
